@charset "UTF-8";
/* ================================== Подключение шрифтов ================================== */
/* ================================== Дополнительные стили ================================== */
/* ----------------- Обнуление стилей */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* ----------------- Кнопка прокрутки вверх */
.scroll-btn__body span:nth-child(3)::before, .scroll-btn__body span:nth-child(2)::before, .scroll-btn__body span:nth-child(1)::before, .scroll-btn__body span:nth-child(3)::after, .scroll-btn__body span:nth-child(2)::after, .scroll-btn__body span:nth-child(1)::after {
  position: absolute;
  width: 30%;
  height: 2px;
  background-color: #58a9a5;
  opacity: 0;
  animation-name: arrow-fx;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.scroll-btn__body span:nth-child(3)::after, .scroll-btn__body span:nth-child(2)::after, .scroll-btn__body span:nth-child(1)::after {
  left: 49%;
  transform: rotate(-30deg) translateX(-100%);
}

.scroll-btn__body span:nth-child(3)::before, .scroll-btn__body span:nth-child(2)::before, .scroll-btn__body span:nth-child(1)::before {
  right: 49%;
  transform: rotate(-150deg) translateX(-100%);
}

@keyframes arrow-fx {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.scroll-btn {
  transform: scale(0);
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 90;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.6235294118);
  transition: transform 0.5s;
  cursor: pointer;
}
.scroll-btn__body {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
}
.scroll-btn__body span:nth-child(1) {
  display: block;
}
.scroll-btn__body span:nth-child(1)::after {
  content: "";
  top: 10%;
  animation-delay: 0.5s;
}
.scroll-btn__body span:nth-child(1)::before {
  content: "";
  top: 10%;
  animation-delay: 0.5s;
}
.scroll-btn__body span:nth-child(2) {
  display: block;
}
.scroll-btn__body span:nth-child(2)::after {
  content: "";
  top: 30%;
  animation-delay: 0.25s;
}
.scroll-btn__body span:nth-child(2)::before {
  content: "";
  top: 30%;
  animation-delay: 0.25s;
}
.scroll-btn__body span:nth-child(3) {
  display: block;
}
.scroll-btn__body span:nth-child(3)::after {
  content: "";
  top: 50%;
  animation-delay: 0s;
}
.scroll-btn__body span:nth-child(3)::before {
  content: "";
  top: 50%;
  animation-delay: 0s;
}

.visible {
  transform: scale(1);
}

/* ================================== Технические стили ================================== */
* {
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: Poppins;
}

/* ----------------- Переменные */
:root {
  --color-text: #404242;
  --margin-content: 0px 0px 50px 0px;
  --defining-padding: 0 0 94% 0;
  --fz-text: 30px;
}

/* ----------------- Скрываем элемент */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ----------------- Отключаем ссылку */
.disabled {
  pointer-events: none;
  cursor: default;
}

/* ----------------- Прижимаем footer к низу */
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper .page {
  flex: 1 1 auto;
}

/* ----------------- Ограничивающий контейнер */
[class*=_container] {
  max-width: 1612px;
  margin: 0px auto;
  padding: 0 15px;
  box-sizing: content-box;
}

/* ----------------- header при скролле */
/* ================================== Миксины (в синтаксисе scss) ================================== */
/* Адаптивное свойство */
/* ================================== Шаблоны (в синтаксисе scss) ================================== */
/* Адаптивное изображение */
.testimonial__content-image, .cards__image, .flex-item__image, .flexbox__image {
  position: relative;
}
.testimonial__content-image img, .cards__image img, .flex-item__image img, .flexbox__image img,
.testimonial__content-image video,
.cards__image video,
.flex-item__image video,
.flexbox__image video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* ================================== БЭМ блоки ================================== */
.button {
  --border-radius-button: 20px 20px 20px 0px;
  --padding-link-button: 21px 88px;
  --fw-button: 700px;
  display: inline-block;
}
.button a {
  display: inline-block;
  font-weight: var(--fw-button);
  font-size: 25px;
  color: #ffffff;
  background: #58a9a5;
  padding: var(--padding-link-button);
  border-radius: var(--border-radius-button);
  transition: background 0.3s;
}
.button_header {
  --border-radius-button: 15px;
  --fw-button: 500px;
}
.button:hover a {
  background: #00a0a5;
}

.flexbox {
  --flex-text-align: center;
  --flex-element: 1 0 100%;
  --flex-lh: 150%;
  --direction: column;
  --fz-title: 70px;
  --fw-title: 800;
  --color-title: #1c2323;
  --margin-title: 0px 0px 20px 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: var(--direction);
  align-items: center;
}
.flexbox_horizontal {
  --direction: row;
}
.flexbox_horizontal .flexbox__item {
  --flex-element: 1 0 50%;
}
.flexbox_horizontal .flexbox__content {
  --flex-text-align: left;
}
.flexbox_horizontal .flexbox__title {
  --margin-title: 0px 0px 50px 0px;
}
.flexbox_horizontal-reverse {
  --direction: row-reverse;
}
.flexbox_vertical-reverse {
  --direction: column-reverse;
}
.flexbox__item {
  flex: var(--flex-element);
}
.flexbox__content {
  text-align: var(--flex-text-align);
}
.flexbox__content:not(:last-child) {
  margin: var(--margin-content);
}
.flexbox__title {
  font-size: var(--fz-title);
  font-weight: var(--fw-title);
  color: var(--color-title);
  line-height: var(--flex-lh);
}
.flexbox__title:not(:last-child) {
  margin: var(--margin-title);
}
.flexbox__text {
  color: var(--color-text);
  line-height: var(--flex-lh);
  font-size: var(--fz-text);
}
.flexbox__image {
  padding: var(--defining-padding);
}

/* ================================== Keyframes ================================== */
@keyframes shake {
  0% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
/* ================================== Header ================================== */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.header__container {
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.header__item {
  color: #58a9a5;
}
.header__item:nth-child(2) {
  flex: 0 1 670px;
}
.header__item:last-child {
  flex: 0 0 auto;
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__logo-name {
  font-weight: 800;
  font-size: 35px;
  line-height: 150%;
  margin: 0px 0px 0px 14px;
}
.header__menu-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__menu-item {
  flex: 0 0 auto;
}
.header__menu-item a {
  font-size: 25px;
  line-height: 150%;
  color: #404242;
  padding: 5px 10px;
  position: relative;
}
.header__menu-item a::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0px;
  height: 6px;
  background: #fec62d;
  border-radius: 21px;
  transform: translateX(0);
  transition: width 0.3s, left 0.3s, transform 0.3s;
}
.header__menu-item a:hover {
  color: #58a9a5;
  text-shadow: 0 0 1.5px #000000;
}
.header__menu-item a:hover::after {
  width: 48px;
  left: 50%;
  transform: translateX(-50%);
}
.header__button-icon {
  display: none;
}

/* ================================== Main =================================== */
.page {
  padding: 250px 0px 0px 0px;
}

/* ----------------- section 1 */
.intro {
  padding: 20px 0 60px;
}
.intro .flexbox__item:not(:last-child) {
  padding: 0px 20px 0px 0px;
}
.intro .flexbox__content {
  max-width: 743px;
}
.intro .flexbox__image {
  padding-bottom: 80%;
}
.intro .flexbox__image img {
  -o-object-fit: contain;
     object-fit: contain;
}

/* ----------------- section 2 */
.works {
  padding: 60px 0;
}
.works__top {
  margin: 0px 0px 150px 0px;
}
.works__top .flexbox__item {
  width: 100%;
}
.works__top .flexbox__item:not(:last-child) {
  margin: 0px 0px 71px 0px;
  position: relative;
  z-index: 4;
}
.works__bottom {
  align-items: stretch;
}
.works__bottom .flexbox__content {
  max-width: 708px;
}
.works__bottom .flexbox__title {
  --fz-title: 40px;
  --fw-title: 700;
  max-width: 487px;
}
.works__bottom .flexbox__text {
  font-weight: 500;
  --color-text: #486958;
}
.works__bottom .flexbox__image {
  margin: 0px 145px 0px 0px;
  --defining-padding: 0 0 83% 0;
}

.flex-item {
  display: flex;
}
.flex-item__image {
  flex: 1 0 66.666%;
  perspective: 1400px;
  perspective-origin: 50%;
  z-index: 2;
}
.flex-item__image img,
.flex-item__image video {
  border-radius: 10px 0px 0px 10px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: transform 0.5s;
}
.flex-item__image img {
  transform: rotateX(0deg);
}
.flex-item__image video {
  height: 100%;
  transform: rotateX(180deg);
}
.flex-item__image.init img {
  transform: rotateX(-180deg);
}
.flex-item__image.init video {
  transform: rotateX(0deg);
}
.flex-item__content {
  flex: 1 0 33.333%;
  padding: 70px 106px 89px 115px;
  font-size: 20px;
  line-height: 150%;
  color: #486958;
  background: #ccf0e6;
  border-radius: 0px 10px 10px 0px;
  position: relative;
  z-index: 1;
}
.flex-item__button {
  position: absolute;
  top: 56%;
  right: 0;
  width: 5.21vw;
  height: 5.21vw;
  z-index: 10;
  border-radius: 50%;
  background-color: #ffffff;
  transform: translateX(50%);
  cursor: pointer;
}
.flex-item__button::before {
  content: "";
  position: absolute;
  top: -14%;
  left: -14%;
  width: 128%;
  height: 128%;
  z-index: 9;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  transition: transform 0.5s, opacity 0.5s, visibility 0.5s;
}
.flex-item__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-30%, -50%);
  border-left: 1.406vw solid #fec62d;
  border-top: 1.08vw solid transparent;
  border-bottom: 1.08vw solid transparent;
}
.flex-item__button.init::before {
  transform: scale(2);
  opacity: 0;
  visibility: hidden;
}
.flex-item__button.init::after {
  width: 26.4%;
  height: 35.2%;
  transform: translate(-50%, -50%);
  border-left: 0.47vw solid #fec62d;
  border-right: 0.47vw solid #fec62d;
  border-top: none;
  border-bottom: none;
}
.flex-item__button.init.close::after {
  width: 60%;
  height: 60%;
  border: none;
  background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg width='800px' height='800px' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23fec62d' d='M195.2 195.2a64 64 0 0 1 90.496 0L512 421.504 738.304 195.2a64 64 0 0 1 90.496 90.496L602.496 512 828.8 738.304a64 64 0 0 1-90.496 90.496L512 602.496 285.696 828.8a64 64 0 0 1-90.496-90.496L421.504 512 195.2 285.696a64 64 0 0 1 0-90.496z'/%3E%3C/svg%3E") center/cover no-repeat;
}
.flex-item__text {
  font-weight: 500;
  margin: 0px 0px 41px 0px;
}
.flex-item__caption {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5.5px;
}

/* ----------------- section 3 */
.projects {
  padding: 60px 0 125px;
}
.projects__content > div:first-child {
  margin-bottom: 160px;
  position: relative;
}
@media (max-width: 1612px) {
  .projects__content > div:first-child {
    margin-bottom: calc(40px + 120 * ((100vw - 320px) / 1292));
  }
}
.projects__content > div:first-child::after, .projects__content > div:first-child::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 26%;
  height: 5px;
  background-color: #58a9a5;
  transform: translateX(-50%);
}
.projects__content > div:first-child::before {
  bottom: -51px;
}
@media (max-width: 1612px) {
  .projects__content > div:first-child::before {
    bottom: calc(-15px + -36 * ((100vw - 320px) / 1292));
  }
}
.projects__content > div:first-child::after {
  bottom: -66px;
}
@media (max-width: 1612px) {
  .projects__content > div:first-child::after {
    bottom: calc(-25px + -41 * ((100vw - 320px) / 1292));
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -64px;
}
.cards__item {
  flex: 1 0 33.333%;
  padding: 0 64px;
}
.cards__body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.cards__body_reverse {
  flex-direction: column-reverse;
}
.cards__body_reverse .cards__content {
  margin: 35px 0px 0px 0px;
}
.cards__body_reverse .cards__image img {
  border-radius: 50%;
}
.cards__body:hover img {
  border-radius: 0;
}
.cards__content {
  margin: 0px 0px 35px 0px;
  height: 100%;
}
.cards__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  color: #58a9a5;
  margin: 0px 0px 5px 0px;
}
.cards__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #486958;
  text-align: justify;
}
.cards__image {
  padding: 0 0 93% 0;
}
.cards__image img {
  transition: border-radius 0.5s;
  border-radius: 0 0 50% 50%;
}

/* ----------------- section 4 */
.testimonial {
  padding: 125px 0 120px;
}
.testimonial__title {
  font-weight: 800;
  font-size: 70px;
  line-height: 150%;
  text-align: center;
  color: #1c2323;
  margin: 0px 0px 22px 0px;
}
.testimonial__logos {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 90px;
       column-gap: 90px;
  row-gap: 30px;
  flex-wrap: wrap;
  margin: 0px 0px 62px 0px;
}
.testimonial__content {
  display: flex;
}
.testimonial__item:first-child {
  flex: 1 1 38%;
}
.testimonial__item:last-child {
  flex: 1 1 62%;
}
.testimonial__content-image {
  height: 100%;
  padding: 0px 0px 115% 0px;
}
.testimonial__content-body {
  padding: 51px 136px 119px;
  background: #ccf0e6;
  height: 100%;
  position: relative;
  z-index: 0;
}
.testimonial__statistic {
  display: flex;
  justify-content: space-between;
}
.testimonial__statistic:not(:last-child) {
  margin: 0px 0px 111.5px 0px;
}
.testimonial__statistic-item {
  flex: 0 0 17%;
  color: #58a9a5;
}
.testimonial__statistic-item:last-child {
  flex: 0 0 204px;
}
.testimonial__statistic-value {
  line-height: 150%;
  font-weight: 800;
  font-size: 70px;
}
.testimonial__statistic-caption {
  line-height: 150%;
  font-weight: 600;
  font-size: 30px;
}
.testimonial__text {
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
  color: #486958;
  position: relative;
}
.testimonial__text::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: -57px;
  left: -38px;
  display: block;
  width: 97px;
  height: 81px;
  background-image: url("data:image/svg+xml,%0A%3Csvg width='97' height='81' viewBox='0 0 97 81' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M40.8432 0.356042C41.8432 3.35604 42.3432 5.85604 42.3432 7.85605C42.3432 9.65605 42.0432 12.0561 41.4432 15.056C28.0432 15.056 21.3432 21.9561 21.3432 35.7561C21.3432 40.756 23.9432 43.556 29.1432 44.1561C36.7432 44.756 40.5432 49.656 40.5432 58.856C40.5432 65.856 38.8432 71.256 35.4432 75.056C32.2432 78.656 26.3432 80.456 17.7432 80.456C5.94315 80.456 0.0431526 72.456 0.0431526 56.456C0.0431526 40.456 3.24315 27.156 9.64315 16.556C16.0432 5.75604 26.4432 0.356042 40.8432 0.356042ZM95.1432 0.356042C96.1432 3.35604 96.6432 5.85604 96.6432 7.85605C96.6432 9.65605 96.3432 12.0561 95.7432 15.056C82.3432 15.056 75.6432 21.9561 75.6432 35.7561C75.6432 40.756 78.2432 43.556 83.4432 44.1561C91.0432 44.756 94.8432 49.656 94.8432 58.856C94.8432 65.856 93.1432 71.256 89.7432 75.056C86.5432 78.656 80.6432 80.456 72.0432 80.456C60.2432 80.456 54.3432 72.456 54.3432 56.456C54.3432 40.456 57.5432 27.156 63.9432 16.556C70.3432 5.75604 80.7432 0.356042 95.1432 0.356042Z' fill='white'/%3E%3C/svg%3E%0A");
}
.testimonial__text::after {
  content: "-Roscoe";
  display: block;
  font-style: italic;
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
  color: #58a9a5;
  margin: 40px 0px 0px 0px;
}

/* ================================== Footer =================================== */
.footer {
  padding: 120px 0;
}
.footer .flexbox {
  align-items: stretch;
}
.footer .flexbox__item:first-child {
  flex: 1 1 31.2%;
  padding: 0px 20px 0px 0px;
}
.footer .flexbox__item:last-child {
  flex: 1 1 68.8%;
}
.footer .flexbox__content {
  max-width: 400px;
}
.footer .flexbox__content::after {
  content: "";
  display: block;
  margin: 37px 0px 0px 0px;
  width: 34%;
  height: 5px;
  background-color: #58a9a5;
  box-shadow: 0px 15px 0px 0px #58a9a5;
}
.footer .flexbox__title {
  margin: 0px 0px 10px 0px;
}
.footer .form {
  border: 1px solid #486958;
  padding: 57px 55px 35px;
}
.footer .form__item {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 35px;
       column-gap: 35px;
  padding: 0px 0px 25px 0px;
}
.footer .form__item:not(:nth-child(3)) {
  border-bottom: 1px solid #58A9A5;
  margin: 0px 0px 47px 0px;
}
.footer .form__item:nth-child(3) {
  margin: 0px 0px 20px 0px;
}
.footer .form__item > *:last-child {
  flex: 1 1 auto;
  min-height: 38px;
  font-size: 25px;
}
.footer .form__item-title {
  font-weight: 500;
  font-size: 25px;
  line-height: 150%;
  color: #486958;
}
.footer .form__item-description {
  resize: none;
}
.footer .form__button-wrapper {
  text-align: right;
}
.footer .form__button {
  font-weight: 700;
  font-size: 25px;
  color: #ffffff;
  background: #58a9a5;
  padding: 21px 88px;
  border-radius: 20px 20px 20px 0px;
  transition: background 0.3s;
}
.footer .form__button:hover {
  background: #00a0a5;
}

@media (min-width: 1920px) {
  .flex-item__button {
    width: 100px;
    height: 100px;
  }
  .flex-item__button::after {
    border-left: 27px solid #fec62d;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
  }
  .flex-item__button.init::after {
    border-left: 10px solid #fec62d;
    border-right: 10px solid #fec62d;
  }
}
@media (max-width: 1440px) {
  .intro {
    padding: 20px 0 30px;
  }
  .works {
    padding: 30px 0;
  }
  .works__top {
    margin: 0px 0px 35px 0px;
  }
  .works__top .flexbox__item:not(:last-child) {
    margin: 0px 0px 35px 0px;
  }
  .works__bottom .flexbox__image {
    margin: 0px 35px 0px 0px;
    --defining-padding: 0 0 83% 0;
  }
  .works__bottom .flexbox__title {
    --fz-title: 30px;
  }
  .projects {
    padding: 30px 0;
  }
  .flexbox__content:not(:last-child) {
    --margin-content: 0px 0px 20px 0px;
  }
  .flexbox__title {
    --fz-title: 35px;
  }
  .flexbox__title:not(:last-child) {
    --margin-title: 0px 0px 20px 0px;
  }
  .flexbox__text {
    --fz-text: 25px;
  }
  .flex-item__content {
    padding: 70px 3.5vw;
  }
  .flex-item__text {
    text-align: justify;
    margin: 0px 0px 20px 0px;
  }
  .cards {
    margin: 0 -20px;
  }
  .cards__item {
    padding: 0 20px;
  }
  .cards__content {
    margin: 0px 0px 20px 0px;
  }
  .cards__title {
    font-size: 25px;
  }
  .cards__body_reverse .cards__content {
    margin: 20px 0px 0px 0px;
  }
  .testimonial {
    padding: 30px 0;
  }
  .testimonial__title {
    font-size: 35px;
  }
  .testimonial__logos {
    margin: 0px 0px 35px 0px;
  }
  .testimonial__statistic-item:last-child {
    flex: 0 0 170px;
  }
  .testimonial__statistic-value {
    font-size: 65px;
  }
  .testimonial__statistic-caption {
    font-size: 25px;
  }
  .testimonial__content-body {
    padding: 65px;
  }
  .testimonial__text::before {
    content: "";
    left: -25px;
  }
  .footer {
    padding: 30px 0;
  }
  .footer .form {
    padding: 35px;
  }
}
@media (max-width: 992px) {
  .page {
    padding: 100px 0px 0px 0px;
  }
  .flexbox__item {
    flex: 1 0 100%;
  }
  .flexbox__item:not(:last-child) {
    margin: 0px 0px 30px 0px;
    padding: 0;
  }
  .flexbox__content {
    max-width: 100%;
    text-align: center;
  }
  .flexbox__text {
    text-align: justify;
  }
  .flexbox__button {
    text-align: center;
    display: block;
  }
  .flex-item__content {
    padding: 4.5vw;
  }
  .flex-item__button {
    width: 6.21vw;
    height: 6.21vw;
  }
  .intro .flexbox__item:not(:last-child) {
    padding: 0px 0px 0px 0px;
  }
  .intro .flexbox__content {
    max-width: 100%;
  }
  .works__top .flexbox__text {
    text-align: center;
  }
  .works__bottom .flexbox__content {
    max-width: 100%;
  }
  .works__bottom .flexbox__title {
    max-width: 100%;
  }
  .works__bottom .flexbox__image {
    margin: 0px 0px 0px 0px;
  }
  .cards {
    margin: 0;
    /* &__content {
    	margin: 0px 0px 20px 0px;
    } */
    /* &__title {
    	font-size: 25px;
    } */
  }
  .cards__item {
    flex: 1 0 100%;
    padding: 0;
  }
  .cards__item:not(:last-child) {
    padding-bottom: 15px;
    border-bottom: 1px solid #58a9a5;
  }
  .cards__item:not(:first-child) {
    padding-top: 15px;
  }
  .cards__body_reverse {
    flex-direction: column;
  }
  .cards__body_reverse .cards__content {
    margin: 0px 0px 20px 0px;
  }
  .testimonial__content {
    flex-direction: column-reverse;
  }
  .testimonial__text {
    text-align: justify;
  }
  .footer .flexbox {
    flex-direction: column;
  }
  .footer .flexbox__content {
    max-width: 100%;
  }
  .footer .flexbox__content::after {
    display: none;
  }
  .footer .flexbox__text {
    text-align: center;
  }
  .footer .flexbox__item:first-child {
    padding: 0;
  }
  .header__container {
    min-height: 100px;
  }
  .header__button {
    display: none;
  }
  .header__button-icon {
    display: block;
  }
  .header__button-icon:hover {
    animation-name: shake;
    animation-duration: 1s;
    transform-origin: 50% 50%;
    animation-iteration-count: 1s;
    animation-timing-function: linear;
  }
  .header__item:nth-child(2) {
    display: flex;
    justify-content: end;
  }
  .header__menu-burger {
    width: 50px;
    height: 37px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }
  .header__menu-burger span {
    width: 100%;
    height: 4px;
    background-color: #58a9a5;
    border-radius: 15px;
  }
  .header__menu-burger::after, .header__menu-burger::before {
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    background-color: #58a9a5;
    border-radius: 15px;
  }
  .header__menu-burger:hover {
    animation-name: shake;
    animation-duration: 1s;
    transform-origin: 50% 50%;
    animation-iteration-count: 1s;
    animation-timing-function: linear;
  }
  .header__menu-body {
    transition: background 0.5s;
  }
  .header__menu-body.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 97;
    background: rgba(0, 0, 0, 0.2705882353);
  }
  .header__menu-list {
    position: fixed;
    z-index: 98;
    top: 0;
    right: -150%;
    display: block;
    text-align: center;
    background: #ccf0e6;
    height: 100%;
    width: 45%;
    box-shadow: 0px 0px 70px 90px #ccf0e6;
    padding: 100px 20px 20px;
    overflow: scroll;
    transition: right 0.5s;
  }
  .header__menu-list::before {
    content: "";
    position: fixed;
    top: 0;
    right: -150%;
    width: 45%;
    background: #ccf0e6;
    z-index: 99;
    transition: right 0.5s;
    box-shadow: 120px 0px 40px 105px #ccf0e6;
  }
  .header__menu-list.active {
    right: 0;
  }
  .header__menu-list.active::before {
    content: "";
    right: 0;
  }
  .header__close-button {
    position: fixed;
    width: 50px;
    height: 50px;
    top: 20px;
    right: -110%;
    z-index: 100;
    background-image: url('data:image/svg+xml,%3Csvg width="50px" height="50px" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" fill="none" stroke-width="3" stroke="%23404242"%3E%3Cline x1="16" y1="16" x2="48" y2="48" /%3E%3Cline x1="48" y1="16" x2="16" y2="48" /%3E%3C/svg%3E');
    transition: right 0.5s;
    cursor: pointer;
  }
  .header__close-button.active {
    right: 20px;
  }
  .header__menu-item a {
    padding: 5px 0px;
    display: block;
    font-size: 35px;
  }
  .header__menu-item:not(:last-child) {
    margin: 0px 0px 20px 0px;
  }
  body.lock {
    overflow: hidden;
  }
}
@media (max-width: 768px) {
  .flex-item {
    flex-direction: column-reverse;
  }
  .flex-item__content {
    padding: 25px;
    border-radius: 10px 10px 0px 0px;
  }
  .flex-item__image {
    padding: 0 0 83% 0;
  }
  .flex-item__image img,
  .flex-item__image video {
    border-radius: 0px 0px 10px 10px;
  }
  .flex-item__button {
    width: 11.71vw;
    height: 11.71vw;
    top: 0;
    transform: translate(-50%, -50%);
    left: 75%;
  }
  .flex-item__button::after {
    border-left: 2.906vw solid #fec62d;
    border-top: 2.18vw solid transparent;
    border-bottom: 2.18vw solid transparent;
  }
  .flex-item__button.init::after {
    border-left: 1vw solid #fec62d;
    border-right: 1vw solid #fec62d;
  }
  .intro {
    padding: 20px 0;
  }
  .works {
    padding: 20px 0;
  }
  .flexbox__title {
    --fz-title: 30px;
  }
  .flexbox__text {
    --fz-text: 20px;
  }
  .flexbox__button a {
    display: block;
  }
  .projects__content > div:first-child::after, .projects__content > div:first-child::before {
    height: 2px;
  }
  .testimonial__statistic {
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
  }
  .testimonial__statistic:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }
  .testimonial__statistic-item {
    text-align: center;
    flex: 1 1 auto;
  }
  .testimonial__statistic-item:last-child {
    flex: 1 1 auto;
  }
  .testimonial__content-body {
    padding: 20px;
  }
  .testimonial__text {
    font-size: 20px;
  }
  .testimonial__text::before {
    content: "";
    display: none;
  }
  .testimonial__text::after {
    margin: 20px 0px 0px 0px;
  }
  .footer .form {
    padding: 15px;
  }
  .footer .form__item {
    padding: 0;
  }
  .footer .form__item:not(:nth-child(3)) {
    margin: 0px 0px 20px 0px;
  }
  .footer .form__item > *:last-child {
    width: 100%;
    font-size: 20px;
  }
  .footer .form__item-title {
    font-size: 20px;
  }
  .footer .form__button {
    width: 100%;
    padding: 21px 0;
  }
  .button a {
    padding: 21px 0;
  }
}
@media (max-width: 576px) {
  .header__logo-name {
    display: none;
  }
  .header__menu-list {
    width: 100%;
  }
  .header__menu-list::before {
    width: 100%;
  }
}