/* ================================== Подключение шрифтов ================================== */

/* ================================== Дополнительные стили ================================== */

/* ----------------- Обнуление стилей */
@import "nullstyle.scss";

/* ----------------- Кнопка прокрутки вверх */
/* @import "scroll-btn.scss"; */

/* ================================== Технические стили ================================== */

html {
}

body {
	font-family: Poppins;
}

/* ----------------- Переменные */
:root {
	--color-text: #404242;
	--margin-content: 0px 0px 50px 0px;
	--defining-padding: 0 0 94% 0;
	--fz-text: 30px;
}

/* ----------------- Скрываем элемент */
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* ----------------- Отключаем ссылку */
.disabled {
	pointer-events: none;
	cursor: default;
}

/* ----------------- Прижимаем footer к низу */
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	.page {
		flex: 1 1 auto;
	}
}

/* ----------------- Ограничивающий контейнер */
[class*="_container"] {
	max-width: 1612px;
	margin: 0px auto;
	padding: 0 15px;
	box-sizing: content-box;
}

/* ----------------- header при скролле */
.header-scrolled {
}

/* ================================== Миксины (в синтаксисе scss) ================================== */

/* Адаптивное свойство */
$maxWidth: 1920;
$maxWidthContainer: 1612;
@mixin adapt-value($property, $startSize, $minSize, $type) {
	$addSize: $startSize - $minSize;
	@if $type==1 {
		//Только если меньше контейнера
		#{$property}: $startSize + px;
		@media (max-width: #{$maxWidthContainer + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
		}
	} @else if $type==2 {
		//Только если больше контейнера
		#{$property}: $startSize + px;
		@media (min-width: #{$maxWidthContainer + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
		}
	} @else {
		//Всегда
		#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
	}
}

/* ================================== Шаблоны (в синтаксисе scss) ================================== */

/* Адаптивное изображение */
%adapt-img {
	position: relative;
	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

/* ================================== БЭМ блоки ================================== */

.button {
	--border-radius-button: 20px 20px 20px 0px;
	--padding-link-button: 21px 88px;
	--fw-button: 700px;
	display: inline-block;
	a {
		display: inline-block;
		font-weight: var(--fw-button);
		font-size: 25px;
		color: #ffffff;
		background: #58a9a5;
		padding: var(--padding-link-button);
		border-radius: var(--border-radius-button);
		transition: background 0.3s;
	}
	&_header {
		--border-radius-button: 15px;
		--fw-button: 500px;
	}
	&:hover {
		a {
			background: #00a0a5;
		}
	}
}

.flexbox {
	--flex-text-align: center;
	--flex-element: 1 0 100%;
	--flex-lh: 150%;
	--direction: column;
	--fz-title: 70px;
	--fw-title: 800;
	--color-title: #1c2323;
	--margin-title: 0px 0px 20px 0px;

	display: flex;
	flex-wrap: wrap;
	flex-direction: var(--direction);
	align-items: center;

	&_horizontal {
		--direction: row;
		.flexbox__item {
			--flex-element: 1 0 50%;
		}
		.flexbox__content {
			--flex-text-align: left;
		}
		.flexbox__title {
			--margin-title: 0px 0px 50px 0px;
		}
	}

	&_horizontal-reverse {
		--direction: row-reverse;
	}

	&_vertical-reverse {
		--direction: column-reverse;
	}

	&__item {
		flex: var(--flex-element);
	}

	&__content {
		text-align: var(--flex-text-align);
		&:not(:last-child) {
			margin: var(--margin-content);
		}
	}

	&__title {
		font-size: var(--fz-title);
		font-weight: var(--fw-title);
		color: var(--color-title);
		line-height: var(--flex-lh);
		&:not(:last-child) {
			margin: var(--margin-title);
		}
	}

	&__text {
		color: var(--color-text);
		line-height: var(--flex-lh);
		font-size: var(--fz-text);
	}

	&__image {
		@extend %adapt-img;
		padding: var(--defining-padding);
	}
}

/* ================================== Header ================================== */

.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	&__container {
		min-height: 250px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: 30px;
	}

	&__item {
		color: #58a9a5;
		&:nth-child(2) {
			flex: 0 1 670px;
		}
		&:last-child {
			flex: 0 0 auto;
		}
	}

	&__logo {
		display: flex;
		align-items: center;
	}

	&__logo-icon {
	}

	&__logo-name {
		font-weight: 800;
		font-size: 35px;
		line-height: 150%;
		margin: 0px 0px 0px 14px;
	}

	&__menu-body {
	}

	&__menu-list {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__menu-item {
		flex: 0 0 auto;
		a {
			font-size: 25px;
			line-height: 150%;
			color: #404242;
			padding: 5px 10px;
			position: relative;
			&::after {
				display: block;
				content: "";
				position: absolute;
				left: 0;
				bottom: 0;
				width: 0px;
				height: 6px;
				background: #fec62d;
				border-radius: 21px;
				transform: translateX(0);
				transition: width 0.3s, left 0.3s, transform 0.3s;
			}
			&:hover {
				color: #58a9a5;
				text-shadow: 0 0 1.5px #000000;
				&::after {
					width: 48px;
					left: 50%;
					transform: translateX(-50%);
				}
			}
		}
	}

	&__menu-burger {
	}

	&__button {
	}

	&__button-icon {
		display: none;
	}
}

/* ================================== Main =================================== */

.page {
	padding: 250px 0px 0px 0px;
}
/* ----------------- section 1 */
.intro {
	padding: 20px 0 60px;
	.flexbox {
		&__item {
			&:not(:last-child) {
				padding: 0px 20px 0px 0px;
			}
		}

		&__content {
			max-width: 743px;
		}
		&__image {
		}
	}
}
/* ----------------- section 2 */
.works {
	padding: 60px 0;
	&__container {
	}

	&__top {
		margin: 0px 0px 150px 0px;
		.flexbox {
			&__item {
				width: 100%;
				&:not(:last-child) {
					margin: 0px 0px 71px 0px;
				}
			}
		}
	}

	&__bottom {
		align-items: stretch;
		.flexbox {
			&__content {
				max-width: 708px;
			}

			&__title {
				--fz-title: 40px;
				--fw-title: 700;
				max-width: 487px;
			}

			&__text {
				font-weight: 500;
				--color-text: #486958;
			}

			&__image {
				margin: 0px 145px 0px 0px;
				--defining-padding: 0 0 83% 0;
			}
		}
	}
}
.flex-item {
	display: flex;

	&__image {
		flex: 1 0 66.666%;
		@extend %adapt-img;
		img {
			border-radius: 10px 0px 0px 10px;
		}
	}

	&__content {
		flex: 1 0 33.333%;
		padding: 70px 106px 89px 115px;
		font-size: 20px;
		line-height: 150%;
		color: #486958;
		background: #ccf0e6;
		border-radius: 0px 10px 10px 0px;
	}

	&__text {
		font-weight: 500;
		margin: 0px 0px 41px 0px;
	}

	&__caption {
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 5.5px;
	}
}
/* ----------------- section 3 */
.projects {
	padding: 60px 0 125px;
	&__content > div {
		&:first-child {
			@include adapt-value("margin-bottom", 160, 40, 1);
			position: relative;
			&::after,
			&::before {
				content: "";
				position: absolute;
				left: 50%;
				width: 26%;
				height: 5px;
				background-color: #58a9a5;
				transform: translateX(-50%);
			}
			&::before {
				@include adapt-value("bottom", -51, -15, 1);
			}
			&::after {
				@include adapt-value("bottom", -66, -25, 1);
			}
		}
	}
}
.cards {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -64px;
	&__item {
		flex: 1 0 33.333%;
		padding: 0 64px;
	}
	&__body {
		display: flex;
		flex-direction: column;
		height: 100%;
		&_reverse {
			flex-direction: column-reverse;
			.cards {
				&__content {
					margin: 35px 0px 0px 0px;
				}
				&__image {
					img {
						border-radius: 50%;
					}
				}
			}
		}
		&:hover {
			img {
				border-radius: 0;
			}
		}
	}
	&__content {
		margin: 0px 0px 35px 0px;
		height: 100%;
	}
	&__title {
		font-weight: 700;
		font-size: 40px;
		line-height: 150%;
		color: #58a9a5;
		margin: 0px 0px 5px 0px;
	}
	&__text {
		font-weight: 500;
		font-size: 20px;
		line-height: 30px;
		color: #486958;
		text-align: justify;
	}
	&__image {
		@extend %adapt-img;
		padding: 0 0 100% 0;
		img {
			transition: border-radius 0.5s;
			border-radius: 0 0 50% 50%;
		}
	}
}
/* ----------------- section 4 */
.testimonial {
	padding: 125px 0 120px;
	&__container {
	}

	&__title {
		font-weight: 800;
		font-size: 70px;
		line-height: 150%;
		text-align: center;
		color: #1c2323;
		margin: 0px 0px 22px 0px;
	}

	&__logos {
		display: flex;
		align-items: center;
		justify-content: center;
		column-gap: 90px;
		row-gap: 30px;
		flex-wrap: wrap;
		margin: 0px 0px 62px 0px;
	}

	&__logos-item {
	}

	&__content {
		display: flex;
	}

	&__item {
		&:first-child {
			flex: 1 1 38%;
		}
		&:last-child {
			flex: 1 1 62%;
		}
	}

	&__content-image {
		height: 100%;
		@extend %adapt-img;
		padding: 0px 0px 115% 0px;
	}

	&__content-body {
		padding: 51px 136px 119px;
		background: #ccf0e6;
		height: 100%;
		position: relative;
		z-index: 0;
	}

	&__statistic {
		display: flex;
		justify-content: space-between;
		&:not(:last-child) {
			margin: 0px 0px 111.5px 0px;
		}
	}

	&__statistic-item {
		flex: 0 0 17%;
		color: #58a9a5;
		&:last-child {
			flex: 0 0 204px;
		}
	}

	&__statistic-value {
		line-height: 150%;
		font-weight: 800;
		font-size: 70px;
	}

	&__statistic-caption {
		line-height: 150%;
		font-weight: 600;
		font-size: 30px;
	}

	&__text {
		font-weight: 500;
		font-size: 25px;
		line-height: 38px;
		color: #486958;
		position: relative;
		&::before {
			z-index: -1;
			content: "";
			position: absolute;
			top: -57px;
			left: -38px;
			display: block;
			width: 97px;
			height: 81px;
			background-image: url("data:image/svg+xml,%0A%3Csvg width='97' height='81' viewBox='0 0 97 81' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M40.8432 0.356042C41.8432 3.35604 42.3432 5.85604 42.3432 7.85605C42.3432 9.65605 42.0432 12.0561 41.4432 15.056C28.0432 15.056 21.3432 21.9561 21.3432 35.7561C21.3432 40.756 23.9432 43.556 29.1432 44.1561C36.7432 44.756 40.5432 49.656 40.5432 58.856C40.5432 65.856 38.8432 71.256 35.4432 75.056C32.2432 78.656 26.3432 80.456 17.7432 80.456C5.94315 80.456 0.0431526 72.456 0.0431526 56.456C0.0431526 40.456 3.24315 27.156 9.64315 16.556C16.0432 5.75604 26.4432 0.356042 40.8432 0.356042ZM95.1432 0.356042C96.1432 3.35604 96.6432 5.85604 96.6432 7.85605C96.6432 9.65605 96.3432 12.0561 95.7432 15.056C82.3432 15.056 75.6432 21.9561 75.6432 35.7561C75.6432 40.756 78.2432 43.556 83.4432 44.1561C91.0432 44.756 94.8432 49.656 94.8432 58.856C94.8432 65.856 93.1432 71.256 89.7432 75.056C86.5432 78.656 80.6432 80.456 72.0432 80.456C60.2432 80.456 54.3432 72.456 54.3432 56.456C54.3432 40.456 57.5432 27.156 63.9432 16.556C70.3432 5.75604 80.7432 0.356042 95.1432 0.356042Z' fill='white'/%3E%3C/svg%3E%0A");
		}
		&::after {
			content: "-Roscoe";
			display: block;
			font-style: italic;
			font-weight: 500;
			font-size: 25px;
			line-height: 38px;
			color: #58a9a5;
			margin: 40px 0px 0px 0px;
		}
	}
}

/* ================================== Footer =================================== */

.footer {
	padding: 120px 0;
	.flexbox {
		align-items: stretch;
		&_horizontal {
		}

		&__item {
			&:first-child {
				flex: 1 1 31.2%;
				padding: 0px 20px 0px 0px;
			}
			&:last-child {
				flex: 1 1 68.8%;
			}
		}

		&__content {
			max-width: 400px;
			&::after {
				content: "";
				display: block;
				margin: 37px 0px 0px 0px;
				width: 34%;
				height: 5px;
				background-color: #58a9a5;
				box-shadow: 0px 15px 0px 0px #58a9a5;
			}
		}

		&__title {
			margin: 0px 0px 10px 0px;
		}
	}

	.form {
		border: 1px solid #486958;
		padding: 57px 55px 35px;
		&__item {
			display: flex;
			flex-wrap: wrap;
			column-gap: 35px;
			padding: 0px 0px 25px 0px;
			&:not(:nth-child(3)) {
				border-bottom: 1px solid#58A9A5;
				margin: 0px 0px 47px 0px;
			}
			&:nth-child(3) {
				margin: 0px 0px 20px 0px;
			}
			& > * {
				&:last-child {
					flex: 1 1 auto;
					min-height: 38px;
					font-size: 25px;
				}
			}
		}
		&__item-title {
			font-weight: 500;
			font-size: 25px;
			line-height: 150%;
			color: #486958;
		}

		&__item-description {
			resize: none;
		}
		&__button-wrapper {
			text-align: right;
		}
		&__button {
			font-weight: 700;
			font-size: 25px;
			color: #ffffff;
			background: #58a9a5;
			padding: 21px 88px;
			border-radius: 20px 20px 20px 0px;
			transition: background 0.3s;
			&:hover {
				background: #00a0a5;
			}
		}
	}
}

// ================================== Брейкпоинтов ==================================

// Extra large devices (large desktops, 1200px and up)
// @media (max-width: 1200px) {...}

@media (max-width: 1440px) {
	.intro {
		padding: 20px 0 30px;
	}
	.works {
		padding: 30px 0;
		&__top {
			margin: 0px 0px 35px 0px;
			.flexbox {
				&__item {
					&:not(:last-child) {
						margin: 0px 0px 35px 0px;
					}
				}
			}
		}
		&__bottom {
			.flexbox {
				&__image {
					margin: 0px 35px 0px 0px;
					--defining-padding: 0 0 83% 0;
				}
				&__title {
					--fz-title: 30px;
				}
			}
		}
	}
	.projects {
		padding: 30px 0;
	}
	.flexbox {
		&__content {
			&:not(:last-child) {
				--margin-content: 0px 0px 20px 0px;
			}
		}
		&__title {
			&:not(:last-child) {
				--margin-title: 0px 0px 20px 0px;
			}
			--fz-title: 35px;
		}
		&__text {
			--fz-text: 25px;
		}
	}
	.flex-item {
		&__content {
			padding: 70px 25px;
		}
		&__text {
			text-align: justify;
			margin: 0px 0px 20px 0px;
		}
	}
	.cards {
		margin: 0 -20px;
		&__item {
			padding: 0 20px;
		}
		&__content {
			margin: 0px 0px 20px 0px;
		}
		&__title {
			font-size: 25px;
		}
		&__body {
			&_reverse {
				.cards {
					&__content {
						margin: 20px 0px 0px 0px;
					}
				}
			}
		}
	}
	.testimonial {
		padding: 30px 0;
		&__title {
			font-size: 35px;
		}
		&__logos {
			margin: 0px 0px 35px 0px;
		}
		&__statistic-item {
			&:last-child {
				flex: 0 0 170px;
			}
		}
		&__statistic-value {
			font-size: 65px;
		}
		&__statistic-caption {
			font-size: 25px;
		}
		&__content-body {
			padding: 65px;
		}
		&__text {
			&::before {
				content: "";
				left: -25px;
			}
		}
	}
	.footer {
		padding: 30px 0;
		.form {
			padding: 35px;
		}
	}
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
	.page {
		padding: 100px 0px 0px 0px;
	}
	.flexbox {
		&__item {
			flex: 1 0 100%;
			&:not(:last-child) {
				margin: 0px 0px 30px 0px;
				padding: 0;
			}
		}
		&__content {
			max-width: 100%;
			text-align: center;
		}
		&__text {
			text-align: justify;
		}
		&__button {
			text-align: center;
			display: block;
		}
	}
	.flex-item {
		&__content {
			padding: 40px 25px;
		}
	}
	.intro {
		.flexbox {
			&__item {
				&:not(:last-child) {
					padding: 0px 0px 0px 0px;
				}
			}
			&__content {
				max-width: 100%;
			}
		}
	}
	.works {
		&__top {
			.flexbox {
				&__text {
					text-align: center;
				}
			}
		}
		&__bottom {
			.flexbox {
				&__content {
					max-width: 100%;
				}
				&__title {
					max-width: 100%;
				}
				&__image {
					margin: 0px 0px 0px 0px;
				}
			}
		}
	}
	.cards {
		margin: 0;
		&__item {
			flex: 1 0 100%;
			padding: 0;
			&:not(:last-child) {
				padding-bottom: 15px;
				border-bottom: 1px solid #58a9a5;
			}
			&:not(:first-child) {
				padding-top: 15px;
			}
		}
		/* &__content {
			margin: 0px 0px 20px 0px;
		} */
		/* &__title {
			font-size: 25px;
		} */
		&__body {
			&_reverse {
				flex-direction: column;
				.cards {
					&__content {
						margin: 0px 0px 20px 0px;
					}
				}
			}
		}
	}
	.testimonial {
		&__content {
			flex-direction: column-reverse;
		}
		&__text {
			text-align: justify;
		}
	}
	.footer {
		.flexbox {
			flex-direction: column;
			&__content {
				max-width: 100%;
				&::after {
					display: none;
				}
			}
			&__text {
				text-align: center;
			}
			&__item {
				&:first-child {
					padding: 0;
				}
			}
		}
	}
	.header {
		&__container {
			min-height: 100px;
		}
		&__button {
			display: none;
		}
		&__button-icon {
			display: block;
		}
		&__item {
			&:nth-child(2) {
				display: flex;
				justify-content: end;
			}
		}
		&__menu-burger {
			width: 50px;
			height: 35px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			cursor: pointer;
			span {
				width: 100%;
				height: 2px;
				background-color: #58a9a5;
			}
			&::after,
			&::before {
				display: block;
				content: "";
				width: 100%;
				height: 3px;
				background-color: #58a9a5;
			}
		}
		&__menu-body {
			transition: background 0.5s;
			&.modal {
				position: fixed;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				z-index: 97;
				background: #00000045;
			}
		}
		&__menu-list {
			position: fixed;
			z-index: 98;
			top: 0;
			right: -110%;
			display: block;
			text-align: center;
			background: #ccf0e6;
			height: 100%;
			width: 320px;
			box-shadow: 0px 10px 15px 2px #000;
			padding: 100px 20px 20px;
			overflow: scroll;
			transition: right .5s;
			&.active {
				right: 0;
			}
		}
		&__close-button {
			position: fixed;
			width: 35px;
			height: 35px;
			top: 20px;
			right: -110%;
			z-index: 99;
			background-image: url("data:image/svg+xml,%0A%3Csvg width='35px' height='35px' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%23000000'%3E%3Cline x1='16' y1='16' x2='48' y2='48'/%3E%3Cline x1='48' y1='16' x2='16' y2='48'/%3E%3C/svg%3E");
			transition: right .5s;
			cursor: pointer;
			&.active {
				right: 20px;
			}
		}
		&__menu-item {
			a {
				padding: 5px 0px;
				display: block;
			}
			&:not(:last-child) {
				margin: 0px 0px 20px 0px;
			}
		}
	}
	body {
		&.lock {
			overflow: hidden;
		}
	}
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
	.flex-item {
		flex-direction: column-reverse;
		&__content {
			padding: 25px;
			border-radius: 10px 10px 0px 0px;
		}
		&__image {
			padding: 0 0 83% 0;
			img {
				border-radius: 0px 0px 10px 10px;
			}
		}
	}
	.intro {
		padding: 20px 0;
	}
	.works {
		padding: 20px 0;
	}
	.flexbox {
		&__title {
			--fz-title: 30px;
		}
		&__text {
			--fz-text: 20px;
		}

		&__button {
			a {
				display: block;
			}
		}
	}
	.projects {
		&__content > div {
			&:first-child {
				&::after,
				&::before {
					height: 2px;
				}
			}
		}
	}
	.testimonial {
		&__statistic {
			flex-direction: column;
			align-items: center;
			row-gap: 15px;
			&:not(:last-child) {
				margin: 0px 0px 30px 0px;
			}
		}
		&__statistic-item {
			text-align: center;
			flex: 1 1 auto;
			&:last-child {
				flex: 1 1 auto;
			}
		}
		&__content-body {
			padding: 20px;
		}
		&__text {
			font-size: 20px;
			&::before {
				content: "";
				display: none;
			}
			&::after {
				margin: 20px 0px 0px 0px;
			}
		}
	}
	.footer {
		.form {
			padding: 15px;
			&__item {
				padding: 0;
				&:not(:nth-child(3)) {
					margin: 0px 0px 20px 0px;
				}
				& > * {
					&:last-child {
						width: 100%;
						font-size: 20px;
					}
				}
			}
			&__item-title {
				font-size: 20px;
			}
			&__button {
				width: 100%;
				padding: 21px 0;
			}
		}
	}
	.button {
		a {
			padding: 21px 0;
		}
	}
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
	.header {
		&__logo-name {
			display: none;
		}
	}
}
